<%= content_for(:title, "#{@user.name} | CAGEORATOR") %>

<h1>D I S C I P L E O F C A G E : <%= @user.name %> </h1>

<div class="btn-group btn-group-sm" role="group">
  <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
  <%= link_to "Delete", user_path(@user), class: "btn btn-danger",
                                        data: {confirm: "Uncage yourself?",
                                                method: 'delete'} %>
</div>
