<h1>B A T T L E</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h3> <%= @post1.title %></h3>
    <img id="battle" src="<%= @post1.image %>"/>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h3> <%= @post2.title %></h3>
    <img id="battle" src="<%= @post2.image %>"/>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-5"
    <h1>V S</h1>
  </div>
</div>
