<% content_for(:title, "Posts | CAGEORATOR")  %>

<h1>T R I B U T E T O T H E C A G E</h1>

<ul>

  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>

</ul>
