<%= content_for(:title, "#{@post.title} | CAGEORATOR") %>

<h1> <%= @post.title %> </h1>

<div class="btn-group btn-group-sm" role="group">
  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
  <%= link_to "Delete", post_path(@post), class: "btn btn-danger",
                                        data: {confirm: "Rescind tribute?",
                                                method: 'delete'} %>
</div>
