@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require rails_bootstrap_forms
 */
 h1 {
   padding-bottom: 9px;
   margin: 40px 0 20px;
   border-bottom: 1px solid #eee;
   text-align: center;
 }

 #nav-footer {
   position: fixed;
   bottom: 0px;
   margin: 0px;
   padding: 0px;
   width: 100%;
 }
